<h1>Lista de Productos</h1>

{{#if products}}
  <ul>
    {{#each products}}
      <li>
        <h3>{{this.title}}</h3>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>ID: {{this.id}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos disponibles</p>
{{/if}}

